.tp-icon {
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
  vertical-align: text-bottom;
}

/* ==========================================
Single-colored icons can be modified like so:
.tp-icon-name {
  font-size: 32px;
  color: red;
}
========================================== */
/* rotation helpers */
.rotate-90 {
  transform: rotate(90deg);
}
.rotate-180 {
  transform: rotate(180deg);
}
.rotate-270 {
  transform: rotate(270deg);
}
